<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <footer class="page-footer light-blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="center">Candidatec</h5>
            <p class="grey-text text-lighten-4">Siguenos en nuestras redes sociales para que no te pierdas ni un solo detalle de las novedades que tendrá Candidatec</p>
          </div>
          <div class="col l4 s12 center">
            <h5 class="">Redes Sociales</h5>
            <ul>
              <div class="row dinline">
                <div class="col">
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="/../../../assets/files/facebook.png"></a></li>
                </div>
                <div class="col">
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="/../../../assets/files/twitter.png"></a></li>
                </div>
                <div class="col">
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="/../../../assets/files/instagram.png"></a></li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 Candidatec
        <a (click)="ClickStart()" class="grey-text text-lighten-4 right" href="#!">Volver arriba</a>
        </div>
      </div>
    </footer>
</body>
</html>
