<nav>
    <div class="nav-wrapper navbar">
      <a href="#" class="brand-logo">Nazi</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a [routerLink]="['home']">Inicio</a></li>
        <li routerLinkActive="active"><a [routerLink]="['candidates']">Candidatos</a></li>
        <li routerLinkActive="active"><a *ngIf="auth.isAuthenticated()" [routerLink]="['profile']">Perfil</a></li>
        <li><span class="login"><button class="btn btn-primary btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()"><b> Inicio de sesión </b></button></span></li>
        <li><span class="login"><button class="btn btn-second btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><b>Cerrar sesión</b> </button></span></li>
      </ul>
    </div>
  </nav>
