.navbar{
  background-color:black;
}
.brand-logo{
  margin-left: 20px;
}

.material-icons{
  color: white;
}

.btn-second{
  background-color: red;
  border-radius: 20px;
}

.logout{
  margin-right: 30px;
}
