html,
body {
  height: 100%;
  width: 100%;
}
.navbar{

}

.brand-logo{
  margin-left: 20px;
}

.material-icons{
  color: white;
}

.btn-second{

  border-radius: 20px;
}

.logout{
  margin-right: 30px;
  color: red;
}

.login{
  margin-right: 30px;
  color: royalblue;
}


.text{
  margin-top: 6px;
  font-size: 15px;
  color: whitesmoke;
}

.sidenav-header {
  background-size: cover;
  margin-bottom: 0px;
  padding: 15px 0 0 15px;

  }

.item1{
  text-align: left;
  margin-left: 15px;
  font-size: 16px;
}

.item{
  text-align: left;
  font-size: 16px;
}
