<body>
  <nav>
      <div class="nav-wrapper navbar">
        <a [routerLink]="['home']" class="brand-logo center">Candidatec</a>
        <a href="#" data-target="menu-side" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right">
          <li><span class="logout"><button class="btn btn-second btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><b>Cerrar sesión</b> </button></span></li>
        </ul>
      </div>

  </nav>



<ul class="sidenav" id="menu-side">
  <li><a class="sidenav-close" routerLinkActive="active" [routerLink]="['home']">Inicio</a></li>
  <li><a class="sidenav-close" routerLinkActive="active" [routerLink]="['candidates']">Candidatos</a></li>
  <li><a class="sidenav-close" routerLinkActive="active" *ngIf="auth.isAuthenticated()" [routerLink]="['profile']">Perfil</a></li>
</ul>


</body>
