input.color { 
  border-bottom: 1.5px #0c56ac !important;
  box-shadow: 0 1.2px 0 0 #0c56ac !important;
}

.red{
  margin-left: 50px;
}

.meGusta{
  color: green;
}
.noMeGusta{
  color: red;
}


.mtop{
  margin-top: 120px;
}
.mtopc{
  margin-top: 15px;
}
.mtopc2{
  margin-top: 30px;
}
.button{
  border-radius: 30px;
}

.pcenter{
  display: flex;
  justify-content: center;
}

.textc{
  color: #0d47a1;
}
