input.color { 
  border-bottom: 1.5px #0c56ac !important;
  box-shadow: 0 1.2px 0 0 #0c56ac !important;
}

.red{
  margin-left: 50px;
}

.meGusta{
  color: green;
}
.noMeGusta{
  color: red;
}

.img-m{
  display: flex;
  margin-left: 0;
  align-content: left;
}
.mtop{
  margin-top: 120px;
}
.mtopc{
  margin-top: 15px;
}
.button{
  border-radius: 30px;
}

.pright{
  text-align: right;
}

.textc{
  color: #0d47a1;
}
