<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing</title>
</head>
<body>
  <div class="container">
    <br><br>
    <h1 class="header center blue-text">Candidatec</h1>
    <div class="row center">
      <h5 class="header col s12 light">Canditatec es un prototipo de red social para politica</h5>
      <h6 class="header col s12 light"> ¿Tienes una cuenta?</h6>
    </div>
    <div class="row center">
      <a class="btn-large waves-effect waves-light  light-blue darken-2 button" (click)="auth.login()" >Registrate</a>
    </div>
    <br><br>
  </div>

  <div class="container">
      <div class="section">
  
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m12 l4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>
  
              <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, in?</p>
            </div>
          </div>
  
          <div class="col s12 m12 l4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>
  
              <p class="light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, perferendis.</p>
            </div>
          </div>
  
          <div class="col s12 m12 l4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>
  
              <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, placeat!</p>
            </div>
          </div>
        </div>
  
      </div>
      <br><br>
    </div>
</body>
</html>

<app-footer></app-footer>