<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing</title>
</head>
<body>
  <div class="container swhite">
    <br><br><br><br><br>
    <h1  [ngClass]="{'titulo1': scrollingC}" class="header center blue-text titulo1">Candidatec</h1>
    <div class="row center">
      <h5 class="header col s12 light">Te gustaría saber <a href="#about">¿qué somos?</a> </h5>
    </div>
    <div class="row center">
      <a class="btn-large waves-effect waves-light  light-blue darken-2 button" *ngIf="!authService.isLoggedIn" [routerLink]="['login']" >Registrate</a>
      <a class="btn-large waves-effect waves-light  light-blue darken-2 button" *ngIf="authService.isLoggedIn" [routerLink]="['profile']" >Registrate</a>
    </div>
    <br><br>
  </div>

  <!--About-->

  <div class="section light-blue darken-3 sblue" id="about">
  <div class="container">

      <div class="row">
        <div class="col-auto s12 item-center mtop1">
          <br>
          <h5 class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quisquam ducimus itaque rem obcaecati error doloribus maxime voluptatum repellat sed.</h5>
          <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quaerat.</h6>
        </div>
        <div class="row">
          <div class="col-auto item-center">
            <a class="btn-large waves-effect waves-light white button textdark mtop1"> ¿Qué ofrecemos?</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
      <div [ngClass]="{'titulo1': !scrolling, 'titulo2': scrolling}" class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m12 l4 titulo2">
            <div class="icon-block">
              <h2 class="center light-blue-text" ><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, in?</p>
            </div>
          </div>

          <div class="col s12 m12 l4 titulo2">
            <div class="icon-block">
                <h2 class="center light-blue-text" ><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, perferendis.</p>
            </div>
          </div>

          <div class="col s12 m12 l4 titulo2">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, placeat!</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>
  </div>

  <script src="js/scroll.js"></script>
</body>
</html>

<app-footer></app-footer>
