<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing</title>
</head>
<body>
  <div class="container swhite">
    <br><br><br><br><br>
    <h1  [ngClass]="{'titulo1': scrollingC}" class="header center blue-text titulo1">Candidatec</h1>
    <div class="row center">
      <h5 class="header col s12 light">Te gustaría saber <a href="#about">¿qué somos?</a> </h5>
    </div>
    <div class="row center">
      <a class="btn-large waves-effect waves-light  light-blue darken-2 button" *ngIf="!authService.isLoggedIn" [routerLink]="['login']" >Inicia Sesión</a>
      <a class="btn-large waves-effect waves-light  light-blue darken-2 button" *ngIf="authService.isLoggedIn" [routerLink]="['profile']" >Inicia Sesión</a>
    </div>
    <br><br>
  </div>

  <!--About-->

  <div class="section light-blue darken-3 sblue" id="about">
  <div class="container">

      <div class="row">
        <div class="col-auto s12 item-center mtop1">
          <br>
          <h4>Candidatec es un prototipo de red social que se enfoca en el contexto político </h4>
        </div>
        <div class="row">
          <div class="col-auto item-center">
            <a href="#services" class="btn-large waves-effect waves-light white button textdark mtop1"> ¿Qué ofrecemos?</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Services -->
  <div class="container">
      <div [ngClass]="{'titulo1': !scrolling, 'titulo2': scrolling}" class="section" id="services">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m12 l4 titulo2">
            <div class="icon-block">
              <h2 class="center light-blue-text" ><i class="material-icons">book</i></h2>
              <h5 class="center">Información</h5>

              <p class="light center">Nos tomamos muy enserio este aspecto, ya que en todo momento ofreceremos información pertinente, imparcial y veraz.</p>
            </div>
          </div>

          <div class="col s12 m12 l4 titulo2">
            <div class="icon-block">
                <h2 class="center light-blue-text" ><i class="material-icons">group</i></h2>
              <h5 class="center">Interactividad</h5>

              <p class="light center">Con otros usuarios en tiempo real, creando un espacio de debate y diálogo..</p>
            </div>
          </div>
          <div class="col s12 m12 l4 titulo2">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Facilidad de uso</h5>

              <p class="light center">Una experiencia amigable e intuitiva en todo momento para la satisfacción del usuario.</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>
  </div>

  <script src="js/scroll.js"></script>
</body>
</html>

<app-footer></app-footer>
