<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div class="container section">
      <br>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Alvaro Uribe"> 
            <br><br>
          <div class="row">
            <div class="col s4 center ">
              <img class="z-depth-5" src="../../../assets/files/uribe.jpg" width="300" height="250">
            </div>
            <div class="col s8">
              
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <h5 class="center">Alvaro Uribe Velez</h5>
            </div>
          </div>
          <div class="row">
            <div class="col s4 center">
              <a  [routerLink]="['candidate01']" class="btn-small waves-effect waves-light  light-blue darken-2 button"> <b>Calificame</b></a>  
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Gustavo Petro"> 
            <br><br>
          <div class="row">
            <div class="col s4 center ">
              <img class="z-depth-5" src="../../../assets/files/petro.jpg" width="300" height="250">
            </div>
            <div class="col s8">
              
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <h5 class="center">Gustavo Petro</h5>
            </div>
          </div>
          <div class="row">
            <div class="col s4 center">
              <a  [routerLink]="['candidate02']" class="btn-small waves-effect waves-light  light-blue darken-2 button"> <b>Calificame</b></a>  
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Sergio Fajardo"> 
            <br><br>
          <div class="row">
            <div class="col s4 center ">
              <img class="z-depth-5" src="../../../assets/files/fajardo.jpg" width="300" height="220">
            </div>
            <div class="col s8">
              
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <h5 class="center">Sergio Fajardo</h5>
            </div>
          </div>
          <div class="row">
            <div class="col s4 center">
              <a  [routerLink]="['candidate03']" class="btn-small waves-effect waves-light  light-blue darken-2 button"> <b>Calificame</b></a>  
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="row">
      <div class="col s5">
      </div>
      <div class="col s5">
        <br>
        <strong>Seleccione un candidato</strong>
      </div>
    </div>




</body>
</html>
