<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div class="container section">
      <br>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Alvaro Uribe">
            <br><br>
            <div class="row">
                <div class="col s12 m12 l12 xl4 center ">
                  <img class=" responsive-img z-depth-5" src="../../../assets/files/uribe.jpg" width="300" height="190">
                  <div class="row">
                      <div class="col-auto">
                        <h5 class="center">Alvaro Uribe</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-auto center">
                        <a  [routerLink]="['candidate01']" class="btn-small waves-effect waves-light  light-blue darken-2 button"> <b>Calificame</b></a>
                      </div>
                    </div>
                </div>
                <div class="col s12 m12 l12 xl8">
                  <div class="row">
                    <div class="col-auto center titleb">
                      <b>
                        Biografía
                      </b>
                    </div>
                    <div style="display: block">
                      <canvas baseChart
                              [data]="pieChartDataUribe"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [colors]="pieChartColors">
                      </canvas>
                    </div>
                    <div class="col">
                      <p ALIGN="justify">Álvaro Uribe Vélez (Medellín, 4 de julio de 1952) es un abogado y político colombiano, presidente de Colombia en los períodos 2002-2006 y 2006-2010. Uribe es abogado de la Universidad de Antioquia y cursó estudios en administración, gerencia y negociación de conflictos en la Escuela de Extensión de la Universidad de Harvard;​ y es miembro sénior asociado del St Antony's College de la Universidad de Oxford. <br><br>
                      Desempeñó diferentes cargos en las Empresas Públicas de Medellín, el Ministerio de Trabajo y la Aeronáutica Civil. Fue Alcalde de Medellín (1982), Senador de la República (1986-1994) y Gobernador de Antioquia (1995-1997), siendo elegido presidente de la República de Colombia en 2002 y reelegido en 2006. <br><br>
                      De tendencia liberal, pero disidente de este partido, Uribe se presentó a las elecciones presidenciales de 2002, apoyado por el movimiento Primero Colombia, logrando imponerse a sus contendores con el 54 % de los votos a su favor. Su mandato se caracterizó por la lucha contra el terrorismo y el narcotráfico bajo la política de seguridad democrática, un programa de gobierno que fue financiado en parte por el Plan Colombia y que recibió críticas por sectores de la oposición y disidentes.​ Promovió su reelección y fue reelecto en 2006 tras haber logrado la aprobación de la reforma constitucional de 2005, la cual dio vía libre a la reelección. <br><br>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-auto center titleb">
                        <b>
                          Propuestas
                        </b>
                      </div>
                      <div class="col">
                        <p ALIGN="justify"><b>Propuesta número uno:</b><br><br>
                          <b>Propuesta número dos:</b> <br><br>
                          <b>Propuesta número tres:</b> <br><br>
                        </p>
                      </div>
                    </div>
                </div>
              </div>
        </mat-tab>
        <mat-tab label="Gustavo Petro">
            <br><br>
            <div class="row">
                <div class="col s12 m12 xl4 center ">
                  <img class="responsive-img z-depth-5" src="../../../assets/files/petro.jpg" width="300" height="190">
                  <div class="row">
                      <div class="col-auto">
                        <h5 class="center">Gustavo Petro</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-auto center">
                        <a  [routerLink]="['candidate02']" class="btn-small waves-effect waves-light  light-blue darken-2 button"> <b>Calificame</b></a>
                      </div>
                    </div>
                </div>
                <div class="col s12 m12 xl8">
                  <div class="row">
                    <div class="col-auto center titleb">
                      <b>
                        Biografía
                      </b>
                    </div>
                    <div style="display: block">
                      <canvas baseChart
                              [data]="pieChartDataPetro"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [colors]="pieChartColors">
                      </canvas>
                    </div>
                    <div class="col">
                      <p ALIGN="justify">El exalcalde de Bogotá y excandidato presidencial nació en Ciénaga del Oro, Córdoba en 1960, creció en Zipaquirá y se unió al M-19 a los 17 años. Poco a poco fue ganándose un lugar importante en el ala política de esa guerrilla hasta ser el más joven de los cinco miembros de la Dirección de la Región Central. Antes de eso, fue Personero de Zipaquirá en 1980 y llegó a ser concejal independiente de ese municipio entre 1984 y 1986. <br><br>
                        Ya como líder guerrillero, promovió el desarme del M-19 entre 1989 y 1990, de la mano de Carlos Pizarro. <br><br>
                        Es economista de la Universidad el Externado de Colombia con especialización en administración de la Escuela Superior de Administración Pública (ESAP) y diplomado en estudios especializados en Desarrollo, Población y Medio Ambiente de la Universidad Católica de Lovaina; también inició un programa de doctorado en Nuevas Tendencias en Administración de Empresas en la Universidad de Salamanca, que está inconcluso. <br><br>
                        Ya en la vida civil, entre 1990 y 1991 fue asesor de la Gobernación de Cundinamarca. Y en 1991, tras la Asamblea Constituyente, fue elegido Representante a la Cámara por Cundinamarca, como miembro de la Alianza Democrática M-19. En 1994 fracasó en su intento de reelección y fue nombrado agregado diplomático en Bruselas por el gobierno de Ernesto Samper, ante las amenazas de muerte que había recibido. <br><br>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-auto center titleb">
                        <b>
                          Propuestas
                        </b>
                      </div>
                      <div class="col">
                        <p aling="justify"><b>Propuesta número uno:</b><br><br>
                          <b>Propuesta número dos:</b> <br><br>
                          <b>Propuesta número tres:</b> <br><br>
                        </p>
                      </div>
                    </div>
                </div>
              </div>
        </mat-tab>
        <mat-tab label="Sergio Fajardo">
            <br><br>
          <div class="row">
            <div class="col s12 m12 xl4 center ">
              <img class="responsive-img z-depth-5" src="../../../assets/files/fajardo.jpg" width="300" height="190">
              <div class="row">
                  <div class="col-auto">
                    <h5 class="center">Sergio Fajardo</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto center">
                    <a  [routerLink]="['candidate03']" class="btn-small waves-effect waves-light  light-blue darken-2 button"> <b>Calificame</b></a>
                  </div>
                </div>
            </div>
            <div class="col s12 m12 xl8">
              <div class="row">
                <div class="col-auto center titleb">
                  <b>
                    Biografía
                  </b>
                </div>
                <div style="display: block">
                  <canvas baseChart
                          [data]="pieChartDataFajardo"
                          [labels]="pieChartLabels"
                          [chartType]="pieChartType"
                          [colors]="pieChartColors">
                  </canvas>
                </div>
                <div class="col">
                  <p ALIGN="justify"> Sergio Fajardo Valderrama nació en Medellín, Colombia en 1956. Es Matemático de la Universidad de los Andes, Doctor en Matemáticas de la Universidad de Wisconsin-Madison y Doctor Honoris Causa de la Universidad Internacional Menéndez Pelayo, España (2009) y de la Universidad Nacional de Córdoba, Argentina (2015). <br><br>
                    Fajardo ocupó varios cargos en instituciones científicas, como el Consejo Nacional de Ciencias Básicas y la Comisión Nacional de Maestrías y Doctorados. Fue profesor en la Universidad de Andes, director de investigación y director del Departamento de Matemáticas, así como en la Universidad Nacional. Ha sido profesor visitante de instituciones como la Universidad de Berkeley, la Universidad de Wisconsin, la Universidad de Colorado, la Universidad Católica de Chile, la Universidad de Oslo y la Universidad Central de Venezuela. <br><br>
                    Trabajó también en varios medios de comunicación como Caracol Radio, Telemedellín y Teleantioquia, fue subdirector del periódico El Colombiano, y columnista de los periódicos El Mundo y El Espectador, y de la revista Dinero. <br><br>
                    En 1999 lideró la conformación del movimiento Compromiso Ciudadano, que buscaba llegar a la Alcaldía de Medellín y en 2003, con la fuerza del primer movimiento cívico independiente, por fuera de los partidos tradicionales, ganó la alcaldía con la votación más alta en la historia de la ciudad hasta esa fecha. <br><br>
                  </p>
                </div>
              </div>
              <div class="row">
                  <div class="col-auto center titleb">
                    <b>
                      Propuestas
                    </b>
                  </div>
                  <div class="col">
                    <p ALING="justify"><b>Propuesta número uno:</b><br><br>
                      <b>Propuesta número dos:</b> <br><br>
                      <b>Propuesta número tres:</b> <br><br>
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
</body>
</html>
