
<div class="row">
  <div class="col l2">
    <h4>{{data.displayName}}</h4>
  </div>

  <div class="col l2">
    <h4>{{data.email}}</h4>
  </div>

</div>



<div *ngIf="data.displayName==null || data.displayName==''">
  <h2>Debes escribir tu nombre para identificarte</h2>
  <input type="text" [(ngModel)]="name" placeholder="Escribe un nombre" class="color">
  <a class="btn button light-blue darken-2 button" (click)="nameUser()">Agregar</a>
</div>



<div *ngIf="data.photoURL!=null">
  <img src="{{data.photoURL}}"  *ngIf="provider.providerId=='facebook.com'" alt="Avatar" width="60px" height="60px">
  <img src="{{data.photoURL}}"  *ngIf="provider.providerId=='google.com'" alt="Avatar" style="width:20%">
</div>
